@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700');

body{
    font-family: "Lato";
    background-color: #F2F2F2;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;

}
*{
    margin: 0;
    padding: 0;
}
.icons{
    padding-left: 87%;
    display: inline-block;
    width: 100%;
    justify-content: end;
}
.icons img{
    max-width: 30px;
    cursor: pointer;
}
.navbar {
    background-color: #333;
 }

.nav-link{
    color: hsl(0, 0%, 77%) !important;
}
#navbarNav .nav-link:hover {
    background-color: #FF7878; 
    color:#333 !important;
} 
