@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700');

body{
    font-family: "Lato";
    color: #373d42;
    background-image: url("imgimg.jpg");
    background-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;

}
 .icons{
    padding-left: 87%;
    display: inline-block;
    width: 100%;
    justify-content: end;
}
.icons img{
    max-width: 30px;
    cursor: pointer;
}
nav {
    background-color: azure;
    box-shadow: 1px 4px 4px 3px rgba(0, 0, 0, 0.2);
 }
.nav-link{
    color: #4d4d4d !important;
}
#navbarNav .nav-link:hover {
    background-color: hwb(0 86% 8%); 
    color:#333 !important;
} 

.dropdown-menu{
   background-color: hwb(180 93% 2%);
 
}
.carousel-inner img {
    max-width: 50%; 
    display: block;
    margin: 0 auto;
}
