@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700');

body{
    font-family: "Lato";
    color: #373d42;
    background-image: url("imgimg.jpg");
    background-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;

}
 .icons{
    padding-left: 87%;
    display: inline-block;
    width: 100%;
    justify-content: end;
}
.icons img{
    max-width: 30px;
    cursor: pointer;
}
nav {
    background-color: #333;
 }
.nav-link{
    color: hsl(0, 0%, 77%) !important;
}
#navbarNav .nav-link:hover {
    background-color: #FF7878; 
    color:#333 !important;
}
.carousel-inner img {
    max-width: 50%; 
    display: block;
    margin: 0 auto;
}
main{
    background-color: rgba(255, 255, 255, 0.5);
}
